.content{
    .wrapper{
        .row{
          
           
            .item{
                padding: 0;
                display: flex;
    
                flex-wrap:wrap;
                margin:  -8px;
                justify-content: space-between;
                width: 100%;
               
                box-sizing: border-box;
                .general-information{
                    //background:rosybrown;
                   
                    width: calc(30%  - 16px);
                    margin:  8px;
                    &__img{
                        
                        height: 473px;
                        //padding: 0 0 100% 0;
                        position: relative;
                       
                        
                        overflow: hidden;
                        
                        
                       
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position:center;
                            position: absolute;
                            top: 0;
                            left: 0;
                        
                        }
                    }
                    &__info{
                        background:yellow;
                        height: 373px;
                    }
                }
                .main{
                    width: calc(69%  - 16px);
                    background:sandybrown;
                    margin:  8px;
                    display: flex;
                    justify-content: space-between;
                    &__title{
                        
                        display: flex;
                        flex-wrap: wrap;
                        max-width: 78%;
                        height: 20%;
                       background:red;
                       margin-top: 60px;
                       margin-left: 30px;
                       .subtitle{
                         
                        font-size: 30px;
                        font-weight: 500;
                        color: $information-text_color;
                        line-height: .75;
                       }
                       .heading{
                        font-size: calc(32px + 30 * (100vw / 1600));
                        font-weight: bold;
                        color: $main_color;
                        line-height: .75;
                        margin-top: 12px;
                       }
                    }
                }
            }
        }
    }
}