@include sm-block(){
    .header{
       .wrapper{
           .row{
               .item{
                   .logo{
                    font-size: calc(16px + (20 + 20 * 0.7) * ((100vw - 539px)/ 1600));
                   }
               }
           }
       }
    }
}
@include lg-block(){
    .content{
        .wrapper{
            .row{
               
               
                .item{
                    
                    
                    padding: 0px 30px 0px 30px;
                    display: flex;
        
                    flex-wrap:wrap;
                    margin:  -8px;
                    justify-content: space-between;
                    width: 100%;
                    margin:  8px;
                    box-sizing: border-box;
                    .general-information{
                        background:rosybrown;
                        width: calc(100%  - 16px);
                        height: 900px;
                        display: flex;
                        &__img{
                            background:green;
                            height: 100px;
                            width: calc(100% / 12 * 6 - 16px);
                        }
                        &__info{
                            background:yellow;
                            height: 100px;
                            width: calc(100% / 12 * 6 - 16px);
                        }
                    }
                    .main{
                        background:sandybrown;
                        height: 900px;
                        width: calc(100%  - 16px);
                        &__title{
                        
                           
                           .subtitle{
                            
                           }
                           .heading{
                               h2{
                                font-size: calc(32px + (30 + 30 * 0.7) * ((100vw - 1200px)/ 1600));

                               }
                           }
                        }
                    }
                }
            }
        }
    }
}