@import "smart-grid";
@import "media";
@import "fonts";
@import "variables";
@import "header";
@import "content";
@import "footer";


/*.degubGrid{
   @include debug(rgba(0, 0, 0, 0.4), 1px solid #ff0);
}*/

body, html{
	height: 100vh;
	width: 100vw;
	@include wrapper();
	margin: 0;
	padding: 0;
}

	
.big-container
{
	
	
	
 
}


ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.85714;
	font-weight: 500;
	color: #838293;

	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a
{
  text-decoration: none;
}
